// Colors
$salmon: #f0825f;
$darkBlue: #303d41;
$lightBlue: #586b6d;
$silver: #f0efed;
$white: #FFFFFF;
$black: #000000;

// Font family
$headerFont: 'apercubold';
$bodyFont: 'aperculight';
$subtextFont: 'aperculight_italic';

// Font size
$headerFontSize: 1em;
$headerAltFontSize: 1.5em;
$blockFontSize: 1.7em;
$footerFontSize: 2em;
$bodyFontSize: 1em;
$subtextSize: .875em;

// Standardized sizes
$large: 4.25em;
$medium: 3.5625em;
$small: 1em;
$panelHeight: 47em;
$calloutWidth: 36.875em;
