// About me callout on homepage of portoflio

.about-me {
    margin: 0 auto;
    width: $calloutWidth;
    height: 32.5em;
    border: 1px solid $white;
    position: relative;
    padding-top: $medium;

    p {
        width: 77.9661017%;
        line-height: 2.095588235em;
        font-family: $bodyFont;
        font-size: $blockFontSize;
        color: $white;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 39.375em) {
            font-size: $headerFontSize;
            line-height: 3.1875em;
        }
    }

    @media (max-width: 39.375em) {
        width: 17.875em;
        padding-top: 1.875em;
    }
}

.about-me-resume {
    font-family: $bodyFont;
    text-decoration: none;
    background-color: $silver;
    color: $darkBlue;
    display: block;
    width: 4.857142857em;
    height: 4.857142857em;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    bottom: -2.4em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @include transition(all, .1s);

    @media (max-width: 50em) {
        display: none;
    }

    > span {
        text-align: center;
        display: block;
        width: 2.857142857em;
        position: absolute;
        top: 1.857142857em;
        left: .714285714em;
    }

    &:hover {
        background-color: $salmon;

        > span {
            color: $silver;
        }
    }
}
