//Badges on portfolio homepage

.badge {
    margin-bottom: $medium;

    > img {
        height: $large;
        width: $large;
        margin: 0 auto $small auto;
        display: block;
    }

    h2 {
        text-align: center;
    }
}

.badge-hello {
    position: absolute;
    background-color: $darkBlue;
    top: -5.875em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 9.5em;
}

.badge-all-work {
    margin-top: $medium;
}
