// Buttons

.button {
    display: block;
    background-color: $lightBlue;
    height: $medium;
    width: 10.625em;
    color: $silver;
    text-align: center;
    font-family: $headerFont;
    font-size: $subtextSize;
    text-transform: uppercase;
    letter-spacing: .25em;
    padding: 1.214285714em;

    @include transition(background-color, .5s);

    &:hover {
        background-color: $white;
        color: $lightBlue;
    }

    @media (max-width: 50em) {
        &:active {
            background-color: $white;
            color: $lightBlue;
        }

        &:hover {
            background-color: $lightBlue;
            color: $silver;
        }
    }
}

.button-see-all {
    margin: $large auto 0 auto;
    border: none;
    outline: none;
    cursor: pointer;

    @media (max-width: 50em) {
        margin-bottom: $large;
    }
}

.button-see-all-back {

    margin: 0 auto $large auto;

    @media (max-width: 50em) {
        margin-bottom: $large;
    }
}
