//Element styling

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: $silver;
}

body {
	@extend %clearfix;

	font-size: 100%;
	font-family: $bodyFont;
	background-color: $silver;
}

footer {
	padding: $medium 0;

	background-color: $darkBlue;
	margin-top: $medium;
	height: auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
