//Font faces

@font-face {
    font-family: 'apercubold';
    src: url('../fonts/apercu_bold-webfont.eot');
    src: url('../fonts/apercu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_bold-webfont.woff') format('woff'),
         url('../fonts/apercu_bold-webfont.ttf') format('truetype'),
         url('../fonts/apercu_bold-webfont.svg#apercubold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aperculight_italic';
    src: url('../fonts/apercu_light_italic-webfont.eot');
    src: url('../fonts/apercu_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_light_italic-webfont.woff') format('woff'),
         url('../fonts/apercu_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/apercu_light_italic-webfont.svg#aperculight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aperculight';
    src: url('../fonts/apercu_light-webfont.eot');
    src: url('../fonts/apercu_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_light-webfont.woff') format('woff'),
         url('../fonts/apercu_light-webfont.ttf') format('truetype'),
         url('../fonts/apercu_light-webfont.svg#aperculight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercuregular';
    src: url('../fonts/apercu_regular-webfont.eot');
    src: url('../fonts/apercu_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_regular-webfont.woff') format('woff'),
         url('../fonts/apercu_regular-webfont.ttf') format('truetype'),
         url('../fonts/apercu_regular-webfont.svg#apercuregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?h1vwn6');
	src:url('../fonts/icomoon.eot?#iefixh1vwn6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?h1vwn6') format('woff'),
		url('../fonts/icomoon.ttf?h1vwn6') format('truetype'),
		url('../fonts/icomoon.svg?h1vwn6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
